<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin With linkedin</title>
</head>
<body>




<a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=81w9qew3mn68ih&redirect_uri=http://localhost:8000/login/linkedin/callback&scope=r_emailaddress%20r_basicprofile">Login with linkedin</a>
    
</body>
</html>